<div id="{{ html_id }}" style="width: {{ width }}; height: {{ height }};" class="clearfix"></div>
<script>
  mapboxgl.accessToken = '{{ access_token }}';
  const map = new mapboxgl.Map({
    container: '{{ html_id }}',
    style: '{{ style }}',
    center: {{ center }},
    zoom: {{ zoom }}
  });

  map.on("load", function () {
    map.addSource("national-park", {
      "type": "geojson",
      "data": {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [-121.415061, 40.506229]
          }
        }, {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [-121.505184, 40.488084]
          }
        }, {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [-121.354465, 40.488737]
          }
        }]
      }
    });
  });
</script>
